@import "./Theme.scss";
@import "./Break.scss";
.App {
}
.app-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  @include lg {
    margin-top: 3rem;
    margin-bottom: 0;
  }
  @include sm {
    margin-bottom: 3rem;
  }
}
.pane {
  width: 33%;
}
