$primary-color: #1990ff;
$primary-color-bold: #1768ff;
$secondary-color: rgb(244, 245, 247);
$secondary-color-bold: rgb(235, 236, 240);
$secondary-text-color: rgb(23, 43, 77);

$primary-alt-color: #333366;
$primary-alt-color-light: #5a5a92;
