@import "../../Theme.scss";
.button {
  border: none;
  font-size: 14px;
  width: 100%;
  border-radius: 5px;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  margin: 0.25rem;
  transition: background-color 0.1s ease-in-out;
  &:hover {
    background-color: $secondary-color-bold;
  }
}
